/* Estilos del pie de página */
.carrito-footer {
    margin-top: 20px;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
}

.carrito-footer p {
    color: #555;
}

.carrito-footer .total {
    color: #007BFF;
}

.carrito-footer .boton-finalizar {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.carrito-footer .boton-finalizar:hover {
    background-color: #218838;
}


    #proceder-pago, #eliminar-todos {
        background-color: #4CAF50; /* Verde para 'Proceder al pago' */
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    #proceder-pago:hover, #eliminar-todos:hover {
        background-color: #45a049; /* Un verde más oscuro para el hover */
        transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
    }

    #eliminar-todos {
        background-color: #f44336; /* Rojo para 'Eliminar todo' */
    }

    #eliminar-todos:hover {
        background-color: #e53935; /* Rojo más oscuro para el hover */
    }

