* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    
}

.container-form {
    height: 75%;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0,0, .1);
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
    margin-bottom: 110px;
    display: flex;
}

.information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #185a6b;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}

.info-childs {
    width: 100%;
    padding: 0 30px;
}

.info-childs h2 {
    font-size: 2.5rem;
}
.info-childs p {
    margin: 15px;   
}

.info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #054150;
    border-radius: 20px;
    padding: 1rem 2rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease;
    

    &:hover {
        background-color: #054150;
    }
}

.form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    p {
        color: #555;
    }
}

.form-information-childs {
    h2 {
        font-size: 2.9rem;
    }
    padding: 0 3rem;
}

.form-information-childs h2 {
    font-size: 2.5rem;
}

.icons{
    margin: 1.5rem 0;
}

.form {
    margin: 2rem 0 0 0;

    label {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        border-radius: 20px;
        padding: 0 10px;
        box-shadow: 0 2px 5px rgba(0, 0,0, .1);
    }

    label,input {
        width: 100%;
        padding: 0.3rem;
        border: none;
        outline: none;
        border-radius: 20px;
        background-color: #f8f8f8;
    }
}

.form label i {
    color: #a7a7a7;
}

.form input[type="submit"] {
    background-color: #185a6b;
    color: white;
    width: 10rem;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    border: none;
    font-size: 1rem;
    &:hover {
        cursor: pointer;
        background-color: #054150;
    }
}

.hide {
    position: absolute;
    transform: translateY(-300%);
}

/**Header**/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #ffffff;
    height: 100px;
    display: flex;
    align-items: center;
}

.contenedor_nav{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 0 20px;
}

.contenedor_menu{
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu_nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.item_nav{
    margin: 0 15px;
    color: #000000;
}

.item_link{
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s ease;
}

.item_link:hover{
    color: #000000;
    text-decoration: underline;
}

#logo{
    width: 150px;
}
#logo:hover{
    transform: scale(1.10);
    transition: transform 0.4s;
}

#contenedor_buscar{
    padding-right: 10px;
}

.contenedor_perfil {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
}

.contenedor_perfil input {
    width: 250px;
    padding: 10px 10px;
    padding-left: 45px;
    border: 2px solid #185a6b;
    border-radius: 5px;
    background: url('imagenes/buscar.png') no-repeat 7px center;
    background-size: 27px 27px;
    background-position: center center;
   
}

.contenedor_perfil img {
    text-decoration: none;
    padding-right: 15px;
    width: 45px;
}
.contenedor_perfil img:hover {
    transform: scale(1.10);
    transition: transform 0.4s;
}

/*Banner*/
.contenedor_imagen {
    position: relative;
    max-width: 100%;
    max-height: 70vh;
    overflow: hidden;
}

.contenedor_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
}

.texto h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.texto p {
    font-size: 18px;
    margin-bottom: 30px;
}

.texto button {
    padding: 15px 30px;
    margin-right: 10px;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.texto button:hover{
    transform: scale(1.10);
    transition: transform 0.4s;
}

.texto button:first-child {
    background-color: black;
    color: white;
}

.texto button:last-child {
    background-color: white;
    color: black;
    border: 1px solid black;
}


/**ALERTAS**/

.alertas  {

    margin-top: 1rem;
    background-color: red;
    width: 90%;

    .alertas-p {
        color: white;
    }
}






